FLARESOLVERR_PORT=8191
HARNESS_PORT=8787
BROWSER_WS_PORT=3000
SESSION_TTL_MINUTES=10
DEFAULT_MAX_TIMEOUT_MS=90000
DEFAULT_WAIT_SECONDS=3
RENDERED_FLOW_TIMEOUT_MS=45000
RENDERED_FLOW_SETTLE_MS=8000
TZ=Europe/Bratislava
BROWSER_LANG=en_GB
FLARESOLVERR_LOG_LEVEL=info
FLARESOLVERR_HEADLESS=true
FLARESOLVERR_DISABLE_MEDIA=false
